body {
    margin: 0;
    padding: 0;
    background-color: #ccee66;
    color: white;
    padding: 20px 160px;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.5s ease;    
}
body::before{
    content: "";
    background: #202020;
    position: absolute;
    top: 0;
    left: -600px;
    transform: rotate(-70deg);
    width: 100%;
    height: 120%;

}
body::after{
    content: "Nike";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 250px;
    font-weight: bold;
    opacity: 0.7;
    font-family: "Noto Sans", sans-serif;
    opacity: 0.5;;
}

.logo {
    width: 80px;
}

h4 {
    font-size: 30px;
}
h1 {
    font-size: 85px;
}
p {
    font-size: 16px;
    margin-bottom: 40px;
}
.botao-carrinho {
    background: #a3be52;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.botao-carrinho:hover {
    opacity: 0.7;
}
.imagem-tenis{
    width: 800px;
    transform: rotate(-25deg);
    margin-top: 80px;
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 2s; 
}

.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    position: relative;
    z-index: 1;
}
.caixa-texto {
    max-width: 500px;
}

.caixa-botoes {
    z-index: 2;
    position: relative;
    display: flex;
    gap: 20px;
}
.botoes {
    width: 80px;
    height: 80px;

}
.verde{
    background: #ccee66;
    border-radius: 60px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.azul{
    background: #58cccd;
    border-radius: 60px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.rosa{
    background: #ff9eb5;
    border-radius: 60px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    
}
.verde:hover {
    transform: translateY(-30px);
    
}
.rosa:hover {
    transform: translateY(-30px);
}
.azul:hover {
    transform: translateY(-30px);
    
}