h1, h2{
    background-color: #fd7e07;
    padding: 10px;
    color: #fff;
}
h1{
    font-size: 30px;
}
body{
    max-width: 600px;
    margin: auto;
    color: #535353 ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
}
h1{
    margin: 0px;
}
.centralizar{
    text-align: center;
    margin-top: 20px;
}
ol, ul{
    line-height: 40px;
}
.btn-youtube{
    background-color: #fd4d07;
    color: #fff;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
}
.btn-youtube:hover{
    background-color: #fd4d07bd;
}
footer{
    margin-top: 30px;
    text-align: center;
}
img{
    margin-top: 20px;
}
body{
    background: linear-gradient(to bottom, rgb(228, 219, 207), rgba(255, 228, 195, 0.925));
}



  